build.log
.zephir/

# Zephir/phpize/autoconf build artifacts that must never be shipped.
ext/Makefile
ext/Makefile.fragments
ext/Makefile.objects
ext/config.h
ext/config.h.in
ext/config.log
ext/config.nice
ext/config.status
ext/configure
ext/configure.ac
ext/libtool
ext/posi.dep
ext/posi.la
ext/posi.lo
ext/run-tests.php
ext/build/
ext/autom4te.cache/
ext/modules/
ext/.libs/
ext/kernel/.libs/
ext/posi/.libs/
ext/src/.libs/
ext/**/*.dep
ext/**/*.lo
ext/**/*.la
